{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
    <div class="navigation-bar grid-item-row-1">
        <div class="navigation-bar-left">
            <div>
                <a href="/" >Home</a>
            </div>
        </div>
        <div class="navigation-bar-right">
            <div>
                <input type="search">
                <button>Search</button>
            </div>
        </div>
    </div>
    <div class="grid-item-row-2">
        <form class="box" id="createbiodataForm" action="/biodata" method="POST">
            <fieldset id="createbiodataFormFieldSet" class="container">
                <div class="field">
                    <label class="label">First name:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="firstName" name="firstName" type="text" placeholder="First name" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Middle name:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="middleName" name="middleName" type="text" placeholder="Middle name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Last name:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="lastName" name="lastName" type="text" placeholder="Last name">
                    </div>
                </div>  
                <div class="field">
                    <label class="label">Date of Birth:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="dateOfBirth" name="dateOfBirth" type="date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="yyyy-mm-dd">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Nationality:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="nationality" name="nationality" type="text" placeholder="Nationality">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Country of Birth:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="countryOfBirth" name="countryOfBirth" type="text" placeholder="Country of Birth">
                    </div>
                </div>    
                <div class="field">
                    <label class="label">State of Birth:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="stateofbirth" name="stateofbirth" type="text" placeholder="State of Birth">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Town of Birth:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="townofbirth" name="townofbirth" type="text" placeholder="Town of Birth">
                    </div>
                </div>  
                <div class="field">
                    <label class="label">Residence Address:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="residenceaddress" name="residenceaddress" type="text" placeholder="Residence Address">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Profession:</label>
                    <div class="control has-icons-right">
                        <input class="input" id="profession" name="profession" type="text" placeholder="Profession">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" id="submitCreatebiodataForm" class="button is-link is-small">Submit</button>
                    </div>
                    <div class="control">
                        <button type="reset" class="button is-light is-small">Clear</button>
                    </div>
                </div>
            </fieldset>
        </form>
        
    </div>
</div>


<section class="section">
    <div class="container">
        <div id="notification" class="notification container is-hidden animated slideInUp">
            <button class="delete"></button>
            <div id="notificationMessage">
                {{notificationMessage}}
            </div>
        </div>
    </div>
</section>




{% endblock %}

<script>
    const createbiodataForm = document.getElementById('createbiodataForm');

    createbiodataForm.addEventListener('submit', (event) => {
    event.preventDefault();

    //Get fields and check validities
    const firstName = document.getElementById('firstName').value;
    if (firstName == '') {
        firstName.reportValidity();
        return false;
    }

    const middleName = document.getElementById('middleName').value;
   
    const lastName = document.getElementById('lastName').value;
    if (lastName == '') {
        lastName.reportValidity();
        return false;
    }

    const dateOfBirth = document.getElementById('dateOfBirth').value;
    if (dateOfBirth == '') {
        dateOfBirth.reportValidity();
        return false;
    }
    
    const nationality = document.getElementById('nationality').value;
   
    
    const countryOfBirth = document.getElementById('countryOfBirth').value;
    if (countryOfBirth == '') {
        countryOfBirth.reportValidity();
        return false;
    }

    const stateofbirth = document.getElementById('stateofbirth').value;
    if (stateofbirth == '') {
        stateofbirth.reportValidity();
        return false;
    }
    
    const townofbirth = document.getElementById('townofbirth').value;
    if (townofbirth == '') {
        townofbirth.reportValidity();
        return false;
    }

    const residenceaddress = document.getElementById('residenceaddress').value;
   

    const profession = document.getElementById('profession').value;
    if (profession == '') {
        profession.reportValidity();
        return false;
    }

    //start the button spinner
    document.getElementById("submitCreatebiodataForm").classList.add("is-loading");

    //prepare init for fetch
    const init = {
        method: 'Post',
        headers: {
            'Content-Type': 'application/json'
        },
        //credentials: 'same-origin',
        body: JSON.stringify({ firstName, middleName, lastName, dateOfBirth, nationality, countryOfBirth, stateOfBirth, townOfBirth, residenceAddress, profession })
    }

    //call fetch
    fetch('/biodata', init)
        .then(response => response.json())
        .then(data => {
            //alert(JSON.stringify(data))
            //remove spinner class
            document.getElementById("submitCreatebiodataForm").classList.remove("is-loading");
            //set notification
            document.getElementById("notificationMessage").innerHTML = 'biodata creation successful';
            //add notification color class sent
            document.getElementById("notification").classList.add("is-success");
            //remove is-hidden from notificationWrapper
            document.getElementById("notification").classList.remove("is-hidden");

        })
        .catch(error => {
            //remove spinner class
            document.getElementById("submitCreatebiodataForm").classList.remove("is-loading");

            document.getElementById("notificationMessage").innerHTML = error.message;
            //add notification color class sent
            document.getElementById("notification").classList.add("is-danger");
            //remove is-hidden from notificationWrapper
            document.getElementById("notification").classList.remove("is-hidden");

        });
    })

</script>